langchain
langchain_openai
langchain_google_genai
weaviate-client
langchain_weaviate
langchain_core
psycopg2-binary
huggingface_hub
langchain_community
python-dotenv
langchainhub
fastapi 
uvicorn 
pydantic
pypdf
sentence-transformers
bs4
reportlab